{% extends 'base.html.twig' %}

{% block body %}

        {% if trips | length %}
            <p>Select trip to see details.</p>

            <div class="list-group">
            {% for trip in trips %}
                <a class="item list-group-item" href="#"
                   data-toggle="modal" data-target="#myModal"
                   data-gpx="{{ app.request.getSchemeAndHttpHost() ~ asset('uploads/gpx/' ~ trip.file) }}">
                    {{ trip.name }}
                    <span class="pull-right text-muted">{{ trip.datetime|date('d.m.Y H:i') }}</span>
                </a>
            {% endfor %}
            </div>

        {% else %}
            <div id="no-trips">
                <img src="{{ asset('images/no_trip.jpg') }}" />
                <p class="h4">Hmmm.. No trips yet. Do something!</p>
            </div>
        {% endif %}


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="map" style="max-width: 570px; height: 400px; "></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
<style>

    a.item:focus {
        outline: none;
    }
    a.item:before {
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-right: 10px;
        color: #CCCCCC;
    }

</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAMM3bKQNvdENwUJHxgOfjQTs-iePu2470"></script>
    <script src="{{ asset('js/loadgpx.js') }}"></script>
    <script type="text/javascript">

        var map;

        $(function(){

            $("#myModal").on("shown.bs.modal", function (e) {
                var element = $(e.relatedTarget);
                $('.modal-title', '#myModal').text(element.text());
                initializeMap(element.data('gpx'));
            });

        });

        function initializeMap(gpxFile) {
            var mapOptions = {
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            google.maps.event.trigger(map, "resize");
            loadGPXFileIntoGoogleMap(gpxFile);
        };

        function loadGPXFileIntoGoogleMap(filename) {
            $.ajax({url: filename,
                dataType: "xml",
                success: function(data) {
                    var parser = new GPXParser(data, map);
                    parser.setTrackColour("#ff0000");
                    parser.setTrackWidth(5);
                    parser.setMinTrackPointDelta(0.001);
                    parser.centerAndZoom(data);
                    parser.addTrackpointsToMap();
                    parser.addWaypointsToMap();
                }
            });
        }

    </script>

{% endblock %}
