{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card card-container">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'custom-form'}}) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="_submit" type="submit">{{ 'registration.submit'|trans }}</button>
        {{ form_end(form) }}
        <a href="{{ path('fos_user_security_login') }}" class="forgot-password">
            Login
        </a> |
        <a href="{{ path('fos_user_resetting_request') }}" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>