{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card card-container">

        <form class="form-signin" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="custom-form">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <input class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" required="required" />
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="_submit"  type="submit">{{ 'resetting.request.submit'|trans }}</button>
        </form>
        <a href="{{ path('fos_user_security_login') }}" class="forgot-password">
            Login
        </a> |
        <a href="{{ path('fos_user_registration_register') }}" class="register">
            Register
        </a>

    </div>
</div>